
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Derek&Edna Wedding Page</title>

	<!--meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Blissful Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); }
	</script>
	<!--//meta tags ends here-->

	<!--booststrap-->
	<link rel="icon" type="image/gif/png" href="{%static "images/logo.png" %}">
	
	<link href="{%static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all">
	<!--//booststrap end-->
	
	<!-- font-awesome icons -->
	<link href="{%static "css/font-awesome.css" %}" rel="stylesheet">
	<!-- //font-awesome icons -->
	
	<!-- banner text slider-->

	<!--// banner text slider-->
	
	<!--jquery-css counter time-->
		<link rel="stylesheet" href="{%static "css/jquery.countdown.css" %}" />
	<!--//jquery-css counter time-->
	
	<!--lightbox slider-->
    <link rel="stylesheet" href="{%static "css/lightbox.css" %}">  
   <!-- lightbox slider-->

	<!--stylesheets-->
	<link href="{%static "css/style.css" %}" rel='stylesheet' type='text/css' media="all">
	<!--//stylesheets-->
	<link href="//fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

</head>

<body>
<div class="banner">

<div class="header-w3layouts"> 
		<!-- Navigation -->
	
		<div class="container">
		<div class="header-bar"> 
	<nav class="navbar navbar-default">
			<div class="navbar-header navbar-left">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				<h1><a class="navbar-brand" href="index.html">DE<span>&</span>ED</a></h1>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
				<nav>
					<ul class="nav navbar-nav">
						<li class="active"><a href="index.html">Home</a></li>
						<li><a href="#about" class="scroll">Welcome</a></li>
						<li><a href="#services" class="scroll">Info</a></li>
						<li><a href="#blog" class="scroll">Engagement</a></li>
						<li><a href="#gallery" class="scroll">Pre-Wedding</a></li>
						<li><a href="#team" class="scroll">Bridal Party</a></li>
						<li><a href="#contact" class="scroll">Contact</a></li>
					</ul>
				</nav>


          
	</div>
		</nav> 
	</div>

	<div class="clearfix"> </div>

	</div>
	
	</div>
<div class="container">

		<!--Slider-->
		<div class="slider">
			<div class="callbacks_container w3l">
				<ul class="rslides" id="slider">
					<li>
					
						<div class="slider-info">
							<h4>Derek & Edna Wedding</h4>
						    <p>6 April 2019</p>
							
						</div>
					</li>
					<li>
						
						<div class="slider-info">
							<h4>常亮—吕小祎 婚礼</h4>
							<p>2019年4月6日</p>
						</div>
					</li>
				</ul>
				
			</div>
			<div class="clearfix"></div>
			
</div>

	</div>
	</div>
<!--//banner-->
	<!--counter-->
	<div class="days-coming">
		<div class="container">
		<h3 class="title tittle">The Wedding Day</h3>
		<div class="col-md-6 col-sm-6 col-xs-6">
		<div class="w3ls-hover">
			<a href="https://drive.google.com/drive/folders/1eGiOSMyhBJKYK0SD1Iv-1vZuVwfkS003" target="_blank">
			<img src="{%static "images/photos.jpg" %}" alt="">
			<div class="view-caption">
				<h5>Photo</h5>
			</div>
		</a>
		</div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6">
		<div class="w3ls-hover">
			<a href="https://drive.google.com/drive/folders/1iJf0K3EdNVx9gpJ91PbVRHxLzRZvjhXr" target="_blank">
			<img src="{%static "images/vedios.jpg" %}" alt="">
			<div class="view-caption">
				<h5>Video</h5>
			</div>
		</a>
		</div>
		</div>
			<!-- <div class="timer_wrap">
			<div id="counter"></div>
			<div class="clear fix"></div>
		</div> -->
		  
	</div>
	</div>
		<!--//counter-->
			<!--about-->
		<div class="about" id="about">
	<div class="container">
		<h3 class="title">Welcome</h3>
		<div class="about-top-grids">
				<div class="col-md-8 about-top-grid">
					<h4>Thank you for being part of our most special day!
					</h4>
					<p>We are very excited for you to be our guest on the wedding day. Hope you enjoy it as much as we do, taking back with you beautiful photos and fond memories.
					<br></br>
			        <br>非常感谢来参加我们的婚礼。我们幸福的时刻希望您的祝福语见证，我们携手期待您的到来！</br>
					</p>
					<div class="bar-grids" style="visibility: hidden">
				<h6>Weddings<span> 100% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 100%">
					</div>
				</div> 
				<div class="mid-bar">
					<h6>Staff<span> 85% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 85%">
						</div>
					</div>
				</div> 
				<h6>Dates<span>67% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 67%">
					</div>
				</div>
			</div>
				</div>
				<div class="col-md-4 about-top-image" >
				</div>
				<div class="clearfix"> </div>
			</div>
</div> 
</div>
	<!--//about-->
	<!--Services-->
	<div class="services" id="services">
		<div class="container">
			<h3 class="title clr">Info</h3>
		
				<div class="banner-bottom-girds text-center">
					<div class="col-md-6  col-sm-6 col-xs-6  its-banner-grid">
					<div class="white-shadow">
						<span class="fa fa-map-marker banner-icon" aria-hidden="true"></span>
						<h4>Location</h4><hr>
						<p>Ceremony and Reception are both held at: 
							<br>Waipuna Hotel</br> 
							<br>58 Waipuna Rd </br>
						    <br>Mount Wellington</br> 
						    <br>Auckland</br> </p>
					</div>
					</div>
					<div class="col-md-6  col-sm-6 col-xs-6 its-banner-grid">
					<div class="white-shadow">
						<span class="fa fa-clock-o banner-icon" aria-hidden="true"></span>
						<h4>Time</h4><hr>
						<p>
						3:00pm - Guest arrives 嘉宾入场<br />
						3.30pm - Ceremony starts 仪式开始<br />
						4.30pm - Photos with Bride and Groom 拍照时间<br />
						5.30pm - Canape 晚宴入场<br /> 
						6:00pm - Reception speech 晚宴开始<br />
						6:30pm - Buffet starts<br />
						* Please contact us if you have any dietary requirements for the buffet
						</p>
					</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6  its-banner-grid">
					<div class="white-shadow">
						<span class="fa fa-user banner-icon" aria-hidden="true"></span>
						<h4>Dress code</h4>
						<p>Formal</p>
					</div>
					</div>
					<div class="col-md-6  col-sm-6 col-xs-6  clr1 its-banner-grid">
					<div class="white-shadow">
						<span class="fa  fa-gift  banner-icon" aria-hidden="true"></span>
						<h4>Gift</h4>
						<p>Monetary gift appreciated</p>
					</div>
					</div>
					<div class="clearfix"> </div>
				</div>
		</div>
	</div>
	
	<!--//Services-->
	
    <div class="blog" id="blog">
	<div class="container">
	<div class="blog-two-grids">
	<h3 class="title tittle">Groom and Bride</h3>
			<div class="blog-top-grids">
				<div class="col-md-7 blog-grid left-side">
					<h4>Derek Chang 常亮
					</h4>
					<p>Derek was born in Lanzhou China and came to NZ 7 years ago. His favourite sport is soccer but also plays basketball. He is currently working as Operations Manager in Health Industry. He has a white dog called Alex.
			         
					</p>
					<div class="w3layouts_more-buttn">
											<a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
										</div>
					</div>
					<div class="col-md-5 blog-gr">
				</div>
				<div class="clearfix"> </div>
					<div class="image-low-gr">
					<div class="blog-top-grids low-grid">
										<div class="col-md-5 blog-br">
				</div>
				<div class="col-md-7 blog-grid right-side">
					<h4>Edna Lu 吕小祎
					</h4>
					<p>Edna was born in Chengdu China and came to NZ 19 years ago. She loves dancing and singing and currently working as Data Scientist. She has a grey kitten called Ella.
			         
					</p>
					<div class="w3layouts_more-buttn">
											<a href="#" data-toggle="modal" data-target="#myModal2">Read More</a>
										</div>
					</div>
					<div class="clearfix"> </div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	
	<!-- modal -->
	<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal2" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">DE&ED</h4>
				</div>
				<div class="modal-body">
					<div class="out-info">
						<img src="{%static "images/gr1.jpg" %}" alt="" />
						<p>Derek</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //modal -->
	<div class="modal about-modal fade" id="myModal2" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal2" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">DE&ED</h4>
				</div>
				<div class="modal-body">
					<div class="out-info">
						<img src="{%static "images/g15.jpg" %}" alt="" />
						<p>Edna</p>
					</div>
				</div>
			</div>
		</div>
	</div>
		<!--slider sectionimages-->
	
    <div class=" slider-photo">
	<div class="container">
	<h3 class="title clr">Engagement Photos -- September 2018</h3>
		<div class="col-md-12 couple">
                <div id="Carousel" class="carousel slide">
                 
                <ol class="carousel-indicators">
                    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#Carousel" data-slide-to="1"></li>
                    <li data-target="#Carousel" data-slide-to="2"></li>
                </ol>
                 
                <!-- Carousel items -->
             <div class="carousel-inner">
                    
                <div class="item active">
                	<div class="row">
                	  <div class="col-md-3 col-sm-3 col-xs-3 slidering"><div class="thumbnail"><img src="{%static "images/p1.jpg" %}" alt="Image" style="max-width:100%;"></div></div>
                	  <div class="col-md-3 col-sm-3 col-xs-3 slidering"><div class="thumbnail"><img src="{%static "images/p2.jpg" %}" alt="Image" style="max-width:100%;"></div></div>
                	  <div class="col-md-3 col-sm-3 col-xs-3 slidering"><div class="thumbnail"><img src="{%static "images/p3.jpg" %}" alt="Image" style="max-width:100%;"></div></div>
                	  <div class="col-md-3 col-sm-3 col-xs-3 slidering"><div class="thumbnail"><img src="{%static "images/p4.jpg" %}" alt="Image" style="max-width:100%;"></div></div>
                	</div><!--.row-->
                </div><!--.item-->
                 <div class="clearfix"> </div>
                <div class="item">
                	<div class="row">
                		<div class="col-md-3 col-sm-3 col-xs-3 slidering"><div class="thumbnail"><img src="{%static "images/p5.jpg" %}" alt="Image" style="max-width:100%;"></div></div>
                		<div class="col-md-3 col-sm-3 col-xs-3 slidering "><div class="thumbnail"><img src="{%static "images/p6.jpg" %}" alt="Image" style="max-width:100%;"></div></div>
                		<div class="col-md-3 col-sm-3 col-xs-3 slidering"><div class="thumbnail"><img src="{%static "images/p7.jpg" %}" alt="Image" style="max-width:100%;"></div></div>
                		<div class="col-md-3 col-sm-3 col-xs-3 slidering"><div class="thumbnail"><img src="{%static "images/p8.jpg" %}" alt="Image" style="max-width:100%;"></div></div>
                	</div><!--.row-->
                </div><!--.item-->
                <div class="clearfix"> </div>
                <div class="item">
                	<div class="row">
                		<div class="col-md-3 col-sm-3 col-xs-3 slidering"><div class="thumbnail"><img src="{%static "images/p9.jpg" %}"  %}"alt="Image" style="max-width:100%;"></div></div>
                		<div class="col-md-3 col-sm-3 col-xs-3 slidering"><div class="thumbnail"><img src="{%static "images/p10.jpg" %}" alt="Image" style="max-width:100%;"></div></div>
                		<div class="col-md-3 col-sm-3 col-xs-3 slidering"><div class="thumbnail"><img src="{%static "images/p11.jpg" %}" alt="Image" style="max-width:100%;"></div></div>
                		<div class="col-md-3 col-sm-3 col-xs-3 slidering"><div class="thumbnail"><img src="{%static "images/p12.jpg" %}" alt="Image" style="max-width:100%;"></div></div>
                	</div><!--.row-->
                </div><!--.item-->
                 <div class="clearfix"> </div>
				 <div class="item">
                	<div class="row">
                		<div class="col-md-3 col-sm-3 col-xs-3 slidering"><div class="thumbnail"><img src="{%static "images/p13.jpg" %}"  %}"alt="Image" style="max-width:100%;"></div></div>
                		<div class="col-md-3 col-sm-3 col-xs-3 slidering"><div class="thumbnail"><img src="{%static "images/p14.jpg" %}" alt="Image" style="max-width:100%;"></div></div>
                	</div><!--.row-->
                </div><!--.item-->
                 <div class="clearfix"> </div>
                </div><!--.carousel-inner-->
                  <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                  <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                </div><!--.Carousel-->
                 
		</div>
		<div class="clearfix"> </div>
		</div>
	</div>
<!--//container-->
		<!--//slider sectionimages-->
			<!-- gallery -->

		<div id="gallery" class="gallery"> 
		<h3 class="title">Pre-Wedding Photos</h3> 
		<div class="gallery-w3lsrow">
			<div class="col-sm-3 col-xs-6 gallery-grids">
				<div class="w3ls-hover">
					<a href="{%static "images/g1.jpg" %}" data-lightbox="example-set" data-title="Oct 2018">
						<img src="{%static "images/g1.jpg" %}" class="img-responsive zoom-img" alt="">
						<div class="view-caption">
							<h5>D+E</h5>
						
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-3 col-xs-6 gallery-grids">
				<div class="w3ls-hover">
					<a href="{%static "images/g2.jpg" %}" data-lightbox="example-set" data-title="Oct 2018">
						<img src="{%static "images/g2.jpg" %}" class="img-responsive zoom-img" alt="">
						<div class="view-caption">
							<h5>D+E</h5>
						
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-3 col-xs-6 gallery-grids">
				<div class="w3ls-hover">
					<a href="{%static "images/g3.jpg" %}" data-lightbox="example-set" data-title="Oct 2018">
						<img src="{%static "images/g3.jpg" %}" class="img-responsive zoom-img" alt="">
						<div class="view-caption">
							<h5>D+E</h5>
						
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-3 col-xs-6 gallery-grids">
				<div class="w3ls-hover">
					<a href="{%static "images/g4.jpg" %}" %}" data-lightbox="example-set" data-title="Oct 2018">
						<img src="{%static "images/g4.jpg" %}" %}" class="img-responsive zoom-img" alt="">
						<div class="view-caption">
							<h5>D+E</h5>
							
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-3 col-xs-6 gallery-grids">
				<div class="w3ls-hover">
					<a href="{%static "images/g5.jpg" %}" data-lightbox="example-set" data-title="Oct 2018">
						<img src="{%static "images/g5.jpg" %}" class="img-responsive zoom-img" alt="">
						<div class="view-caption">
							<h5>D+E</h5>
						
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-3 col-xs-6 gallery-grids">
				<div class="w3ls-hover">
					<a href="{%static "images/g6.jpg" %}" data-lightbox="example-set" data-title="Oct 2018">
						<img src="{%static "images/g6.jpg" %}" class="img-responsive zoom-img" alt="">
						<div class="view-caption">
							<h5>D+E</h5>
							
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-3 col-xs-6 gallery-grids">
				<div class="w3ls-hover">
					<a href="{%static "images/g11.jpg" %}" data-lightbox="example-set" data-title="Oct 2018">
						<img src="{%static "images/g11.jpg" %}" class="img-responsive zoom-img" alt="">
						<div class="view-caption">
							<h5>D+E</h5>
						
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-3 col-xs-6 gallery-grids">
				<div class="w3ls-hover">
					<a href="{%static "images/g12.jpg" %}" data-lightbox="example-set" data-title="Oct 2018">
						<img src="{%static "images/g12.jpg" %}" class="img-responsive zoom-img" alt="">
						<div class="view-caption">
							<h5>D+E</h5>
							
						</div>
					</a>
				</div>
			</div>  
			<div class="col-sm-3 col-xs-6 gallery-grids">
				<div class="w3ls-hover">
					<a href="{%static "images/g13.jpg" %}" data-lightbox="example-set" data-title="Oct 2018">
						<img src="{%static "images/g13.jpg" %}" class="img-responsive zoom-img" alt="">
						<div class="view-caption">
							<h5>D+E</h5>
							
						</div>
					</a>
				</div>
			</div>  
			<div class="col-sm-3 col-xs-6 gallery-grids">
				<div class="w3ls-hover">
					<a href="{%static "images/g14.jpg" %}" data-lightbox="example-set" data-title="Oct 2018">
						<img src="{%static "images/g14.jpg" %}" class="img-responsive zoom-img" alt="">
						<div class="view-caption">
							<h5>D+E</h5>
							
						</div>
					</a>
				</div>
			</div>  
			<div class="col-sm-3 col-xs-6 gallery-grids">
				<div class="w3ls-hover">
					<a href="{%static "images/g15.jpg" %}" data-lightbox="example-set" data-title="Oct 2018">
						<img src="{%static "images/g15.jpg" %}" class="img-responsive zoom-img" alt="">
						<div class="view-caption">
							<h5>D+E</h5>
							
						</div>
					</a>
				</div>
			</div>  
			<div class="col-sm-3 col-xs-6 gallery-grids">
				<div class="w3ls-hover">
					<a href="{%static "images/g16.jpg" %}" data-lightbox="example-set" data-title="Oct 2018">
						<img src="{%static "images/g16.jpg" %}" class="img-responsive zoom-img" alt="">
						<div class="view-caption">
							<h5>D+E</h5>
							
						</div>
					</a>
				</div>
			</div>   
			<div class="col-sm-3 col-xs-6 gallery-grids">
				<div class="w3ls-hover">
					<a href="{%static "images/g17.jpg" %}" data-lightbox="example-set" data-title="Oct 2018">
						<img src="{%static "images/g17.jpg" %}" class="img-responsive zoom-img" alt="">
						<div class="view-caption">
							<h5>D+E</h5>
							
						</div>
					</a>
				</div>
			</div>   
			<div class="col-sm-3 col-xs-6 gallery-grids">
				<div class="w3ls-hover">
					<a href="{%static "images/g18.jpg" %}" data-lightbox="example-set" data-title="Oct 2018">
						<img src="{%static "images/g18.jpg" %}" class="img-responsive zoom-img" alt="">
						<div class="view-caption">
							<h5>D+E</h5>
							
						</div>
					</a>
				</div>
			</div>   
			<div class="col-sm-3 col-xs-6 gallery-grids">
				<div class="w3ls-hover">
					<a href="{%static "images/g19.jpg" %}" data-lightbox="example-set" data-title="Oct 2018">
						<img src="{%static "images/g19.jpg" %}" class="img-responsive zoom-img" alt="">
						<div class="view-caption">
							<h5>D+E</h5>
							
						</div>
					</a>
				</div>
			</div>   
			<div class="col-sm-3 col-xs-6 gallery-grids">
				<div class="w3ls-hover">
					<a href="{%static "images/g20.jpg" %}" data-lightbox="example-set" data-title="Oct 2018">
						<img src="{%static "images/g20.jpg" %}" class="img-responsive zoom-img" alt="">
						<div class="view-caption">
							<h5>D+E</h5>
							
						</div>
					</a>
				</div>
			</div>   
			<div class="clearfix"> </div> 
		</div>

	</div>
		<!-- //gallery -->
<div class="team" id="team">
		<div class="container">
			<h3 class="title clr">Bridal Party</h3> 
			<div class="wthree_team_agileinfo">
				<div class="col-sm-4 col-xs-3 wthree_team_grid_left">
					<figure class="effect-julia">
						<img src="{%static "images/t1.jpg" %}" alt=" " class="img-responsive"> 
						<div class="w3l_banner_figure">
							<p>Carina Lu</p>
							
							
						</div> 			
					</figure>
				</div>
				<div class="col-sm-4 col-xs-3 wthree_team_grid_left">
					<figure class="effect-julia">
						<img src="{%static "images/t2.jpg" %}" alt=" " class="img-responsive"> 
						<div class="w3l_banner_figure">
							<p>Shimeng Liu</p>
							
							
						</div> 		
					</figure>
				</div>
				<div class="col-sm-4 col-xs-3 wthree_team_grid_left">
					<figure class="effect-julia">
						<img src="{%static "images/t3.jpg" %}" alt=" " class="img-responsive"> 
						<div class="w3l_banner_figure">
							<p>Hui Fang</p>
							
							
						</div> 			
					</figure>
				</div>
				<div class="col-sm-4 col-xs-3 wthree_team_grid_left">
					<figure class="effect-julia">
						<img src="{%static "images/t4.jpg" %}" alt=" " class="img-responsive"> 
						<div class="w3l_banner_figure">
							<p>Winson He</p>
							
						
						</div> 			
					</figure>
				</div>
				<div class="col-sm-4 col-xs-3 wthree_team_grid_left">
					<figure class="effect-julia">
						<img src="{%static "images/t15.jpg" %}" alt=" " class="img-responsive"> 
						<div class="w3l_banner_figure">
							<p>Hank Zhang</p>
							
						
						</div> 			
					</figure>
				</div>
				<div class="col-sm-4 col-xs-3 wthree_team_grid_left">
					<figure class="effect-julia">
						<img src="{%static "images/sunny.jpg" %}" alt=" " class="img-responsive"> 
						<div class="w3l_banner_figure">
							<p>Li Ma</p>
							
						
						</div> 			
					</figure>
				</div>				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--contact-->
<div class="buttom-w3">
				<div class="container">
				<div class=" bottom-head text-center">
<h2><a href="index.html">Google Map</a></h2>
<br></br>	
<div class="map-grid"><iframe src="https://maps.google.com/maps?q=58%20Waipuna%20Road%2C%20Mount%20Wellington%2C&t=&z=13&ie=UTF8&iwloc=&output=embed"> </iframe>
					</div>
   <!--<div class="contact" id="contact">
   <div class="container"> 
   <h3 class="title clr">Contact</h3>
   <div class="contact-two-grids">
   <div class=" col-md-6 contact-icons">
				<div class=" col-md-6 col-sm-6 col-xs-6 footer_grid_left">
					<div class="icon_grid_left">
						<span class="fa fa-map-marker" aria-hidden="true"></span>
					</div>
					<h5>Address</h5>
					<p>Unterberg 11,06108,<span>Halle,
					Germany</span></p>
				</div>
				<div class=" col-md-6 col-sm-6 col-xs-6 footer_grid_left">

					<div class="icon_grid_left">
						<span class="fa fa-volume-control-phone" aria-hidden="true"></span>
					</div>
					<h5> Contact Us</h5>
					<p>+(000) 123 4565 32 <span>+(010) 123 4565 35</span></p>
				</div>
				<div class="  col-md-6 col-sm-6 col-xs-6 footer_grid_left">
					<div class="icon_grid_left">

						<span class="fa fa-envelope" aria-hidden="true"></span>
					</div>
					<h5>Email Us</h5>
					<p><a href="mailto:info@example.com">info@example1.com</a>
						<span><a href="mailto:info@example.com">info@example2.com</a></span></p>
				</div>
				<div class="  col-md-6 col-sm-6 col-xs-6 footer_grid_left">
					<div class="icon_grid_left">

						<span class="fa fa-clock-o" aria-hidden="true"></span>
					</div>
					<h5>Times</h5>
					<p>Mon-Sat:9AM to 6PM
						<span>Sun:9AM to 7PM</span></p>
						<div class="clearfix"> </div>
				</div>
					<div class="clearfix"> </div>
			</div>
   <div class="col-md-6 contact-us">
    <form action="#" method="post">
							<div class="styled-input">
						
								<input type="text" name="Name" placeholder="Name" required="">
						
							</div>
							<div class="styled-input">

								<input type="email" name="Email" placeholder="Email" required=""> 
							

						
							</div> 
							<div class="styled-input">
							
								<input type="text" name="phone" placeholder="phone" required="">
							

							
							</div>
							<div class="styled-input">
							
								<textarea name="Message" placeholder="Message" required=""></textarea>
								

							
							</div>	 
							<div>
							<div class="click">
							<input type="submit" value="SEND">
							</div>
							</div>
						</form>
					  </div>
       
					<div class="clearfix"> </div>
					</div>
 
   				
</div>
 </div> -->
				<!--footer-->
				<div class="buttom-w3", id="contact">
				<div class="container">
				<div class=" bottom-head text-center">
		  <h2><a href="index.html">Contact</a></h2>
		  <div class="buttom-para">
		  <p>If you have any questions regarding the wedding day please feel free to contact us!</p>
		  <p>如果您有任何关于婚礼当天的问题请联系我们。</p>
		  </div>
		</div>
<!--<div class=" text-center">
			   <div class="post">
            <form action="#" method="post">
			  
			         <div class="letter">
					<input class="email" type="email" placeholder="Your email..." required="">
					</div>
					<div class="newsletter">
					<input type="submit" value="Subscribe">
					</div>
				</form>
</div>-->
          </div>
				</div>
				<div class=" copyright text-center">
			    			<div class="icons">
							<ul>
								<li><a href="mailto:Edna.Lu@outlook.com"><span class="fa fa-envelope"></span></a></li>
								<li><a href="tel:0221991130"><span class="fa fa-phone"></span></a></li>
								<!--<li><a href="#"><span class="fa fa-rss"></span></a></li>-->
								<!--<li><a href="#"><span class="fa fa-vk"></span></a></li>-->
							</ul>
						</div>

			</div>
				</div>
				
				<!--<footer>
				<p>  &copy; 2018 Blissful. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank"> W3layouts </a></p>
	</footer>-->


	<!--js working-->
	<script type='text/javascript' src="{%static 'js/jquery-2.2.3.min.js' %}"></script>
	<script src="{%static "js/bootstrap.js" %}"></script>
	<!-- //js  working-->

			<!--  light box js -->
		<script src="{%static "js/lightbox-plus-jquery.min.js" %}"> </script> 
		<!-- //light box js--> 
		<!-- banner-->
<script src="{%static "js/responsiveslides.min.js" %}"></script>
		<script>
				$(function () {
					$("#slider").responsiveSlides({
						auto: true,
						pager: true,
						nav: true,
						speed: 1000,
						namespace: "callbacks",
						before: function () {
							$('.events').append("<li>before event fired.</li>");
						},
						after: function () {
							$('.events').append("<li>after event fired.</li>");
						}
					});
				});
			</script>
<!--// banner-->
	<!--scripts-->
	<script src="{%static "js/jquery.countdown.js" %}"></script>
	<!--countdowntimer-js-->
	<script src="{%static "js/script.js" %}"></script>
	<!--countdowntimer-js-->
	<!--//scripts-->
	
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="{%static "js/move-top.js" %}"></script>
	<script type="text/javascript" src="{%static "js/easing.js" %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {

			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};


			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
</body>

</html>